NODE_VERSION=10
#Emulate GitLab CI onpremiss
#CI_COMMIT_REF_NAME=10-alpine
#CI_REGISTRY_IMAGE=gitlab.example.com/docker/node-red

NODE_OPTIONS=--max_old_space_size=2048
#default 0 = 1456(MB)
#obsolute? --stack_size=984

CUID=1000
CGID=1000

NETWORK=172.16.1.0/24
IP_ADDRESS=172.16.1.2

#for Google Cloud Node
#GOOGLE_CLOUD_PROJECT=
